aclocal.m4
autom4te.cache
configure
ltmain.sh
m4/libtool.m4
m4/lt*.m4
Makefile.in
config.guess
config.sub
install-sh
missing
src/config.h.in
*~
=build*
build*
depcomp
++*
Makefile
.version
config.log
config.status
libtool
*.o
config.h
stamp-h1
.deps
.libs

##binaries and shite
truffle
