<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>hroptatyr github glue - {{ page.title }}</title>
    <link href="/shared/css/default.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div id="main">
      <div id="header-wrapper">
        <div id="header" class="basic" >
          <div class="site">
            <div class="topsearch">
              <ul class="nav logged_out">
                <li><a href="http://github.com/">Back to GitHub</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="wrapper">
        <div id="content" class="site">

          {{ content }}

        </div>
      </div>

      <div class="push"></div>
    </div>

     <div id="footer" >
      <div class="upper_footer">
        <div class="footer_inner clearfix">

        </div><!-- /.site -->
      </div><!-- /.upper_footer -->

      <div class="lower_footer">
        <div class="footer_inner clearfix">

        </div><!-- /.site -->
      </div><!-- /.lower_footer -->
    </div><!-- /#footer -->
  </body>
</html>
